<%= render "lists/navbar" %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(@list.photo.key, crop: :fit) %>')">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container mt-5">

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @list.bookmarks.each do |bookmark| %>
<div class="col">
    <div class="card h-100">
      <img src=<%= bookmark.movie.poster_url %> class="card-img-top" alt=<%bookmark.movie.title%>>
      <div class="card-body">
        <h5 class="card-title"><%= bookmark.movie.title %></h5>
        <p class="card-text"><%= bookmark.movie.overview %></p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"><%= bookmark.comment %></small>
      </div>
    </div>
  </div>
    <% end %>
  </div>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.button :submit, class: "btn btn-success" %>
  <% end %>


</div>
